#strucktureGrid {
    display: grid; 
    grid-template-rows: 10% 50% 15% 25%;
}

#navbar1 {
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
}

#logo {
    width: 70px;
    height: 70px;
}





.dropDownMenu {
    float: left;
    overflow: hidden;
  }
  
.dropDownMenu .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropDownMenu:hover .dropbtn {
    background-color: gray;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: green;
  }
  
  .dropDownMenu:hover .dropdown-content {
    display: block;
  }  